@page
@model BP_Webshop.Pages.Jewellery.ProductDetails.ProductBraceletModel
@{
}

<div class="row">
    <div class="col-3">
        <div class="col">
            <table class="table">
                @*@if (@Model.bracelets != null)
                {
                    @foreach (var bracelet in Model.bracelets)
                    {*@
                        <tr>
                            @* SKAL ADMIN RUNDT OM *@

                            <!--<td></td>-->

                            @* ADMIN SLUT *@

                            <!--<td><img src="/Images/" width="80" height="auto" /></td>-->

                            @*<p>@bracelet.JewelryTitle</p>
                            <p>@bracelet.Description</p>
                            <p>@bracelet.Color</p>
                            <p>@bracelet.Price</p>
                            <p>@bracelet.AverageRating</p>
                            <p>@bracelet.BraceletLength</p>
                            <p>@bracelet.BraceletWidth</p>*@


                            @* SKAL ADMIN RUNDT OM *@
                            <!--<td>-->
                                @*Call to action buttons*@
                                <!--<a class="btn" asp-page="EditBracelet" asp-route-id=""><i class="fa fa-pencil"></i></a>
                                <a class="btn" asp-page="DeleteBracelet" asp-route-id=""><i class="fa fa-trash"></i></a>-->
                            @*</td>*@
                            @* ADMIN SLUT *@
                        </tr>
                    @*}
                }*@
            </table>
        </div>
    </div>
</div>

@*------CARD------
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>*@