@using System.Security.Claims
@using BP_Webshop.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Black Pearl Webshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    @* FIRST NAV START *@
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm">
        <a asp-page="/Index"> <img src="Images/BPLOGO.jpg" width="82" height="auto" alt="Responsive image"></a>
        <div class="container-fluid">
            <a asp-page="/Index" class="navbar-brand btn btn-primary btn-lg active" role="button" aria-pressed="true">
                Black Pearl Webshop
            </a>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <div class="align-content-center text-white">
                    <p>User logged in: <i>@Context.User.Identity.Name</i> </p>
                </div>
            }

            @* FLEX ROW REVERSE START *@
            <div class="d-flex flex-row-reverse">
                <div class="p-2 align-content-center text-white">
                </div>

                @if (Context.User.Identity.IsAuthenticated)
                {
                    <div class="p-2">
                        <a asp-area="" asp-page="/Account/Logout" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log out</a>
                    </div>
                }

                @if (User.IsInRole("admin"))
                {
                    <div class="p-2">
                        <a asp-area="" asp-page="/Account/CreateAdmin" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create admin</a>
                    </div>
                }

                @if (!Context.User.Identity.IsAuthenticated)
                {
                    <div class="p-2">
                        <a asp-area="" asp-page="/Account/LogIn" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log in</a>
                    </div>
                    <div class="p-2">
                        <a asp-area="" asp-page="/Account/CreateUser" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create user</a>
                    </div>
                }

                <div class="p-2">
                    <a asp-area="" asp-page="/Payment/CheckOut" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Payment site</a>
                </div>
            </div>
            @* FLEX ROW REVERSE END *@

            @* FLEX ROW REVERSE START *@
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <button type="button" class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i></button>
                </div>
                <div class="p-2">
                    @* SEARCH *@
                    <form asp-page="/Jewellery/AllJewelries" method="post" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search title" id="searchCriteria" name="searchCriteria" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="p-2">
                </div>
                <div class="p-2">
                </div>
            </div>
            @* FLEX ROW REVERSE END *@
        </div>
    </nav>
        @* FIRST NAV END *@
</div>

    @* HAMBURGER INSIDE A ROW AND COL-6 *@
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm bg-dark">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-6">
                <nav class="navbar navbar-light"></nav>
            </div>
            @* HAMBURGER INSIDE A COL-6 START *@
            <div class="col-sm col-6">

                @* HAMBURGER MENU START *@
                @* EXPAND-LG GONE - SO IT WILL STAY AS A HAMBURGER MENU *@
                <nav class="navbar navbar-light">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        @* TOOGLE ICON *@
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @* NAVBAR WITH UL AND LI *@
                    <div class="collapse navbar-collapse bg-light" id="navbarNav">
                        <ul class="navbar-nav text-black">
                            <li class="nav-item active">
                                <a class="nav-link text-black" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-area="" asp-page="/Jewellery/AllJewelries">All Jewelries</a>
                            </li>
                            @* A DROPDOWN INSIDE THE NAV WITH EACH CATEGORY *@
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-page="/Jewellery/EarringCrud/AllEarrings" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Earrings
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item">Types</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/EarringCrud/AllEarrings" asp-page-handler="ByEType" asp-route-type="@Earring.EarringTypes.Jhumkay">Jhumkay</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/EarringCrud/AllEarrings" asp-page-handler="ByEType" asp-route-type="@Earring.EarringTypes.Tops">Tops</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-area="" asp-page="/Jewellery/NecklaceCRUD/AllNecklaces" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Necklace
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item">Types</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/NecklaceCRUD/AllNecklaces" asp-page-handler="ByNType" asp-route-type="@Necklace.NecklaceTypes.Mala">Mala</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/NecklaceCRUD/AllNecklaces" asp-page-handler="ByNType" asp-route-type="@Necklace.NecklaceTypes.Choker">Choker</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/NecklaceCRUD/AllNecklaces" asp-page-handler="ByNType" asp-route-type="@Necklace.NecklaceTypes.Multilayered">Multilayered</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-area="" asp-page="/Jewellery/BraceletCRUD/AllBracelet" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bracelet
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item">Types</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/BraceletCRUD/AllBracelets" asp-page-handler="ByType" asp-route-type="@Bracelet.BraceletTypes.Kangan">Kangan</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/BraceletCRUD/AllBracelets" asp-page-handler="ByType" asp-route-type="@Bracelet.BraceletTypes.Bangle">Bangles</a>
                                    @*<a class="dropdown-item" asp-page="/Jewellery/BraceletCRUD/AllBracelet" asp-page-handler="ByType" asp-route-type="@Bracelet.BraceletTypes.Panjangla">Panjangla</a>*@
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-page="/Jewellery/RingCRUD/AllRings" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Rings
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item">Types</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/RingCRUD/AllRings" asp-page-handler="ByRType" asp-route-type="@Ring.RingTypes.Panjangla">Panjangla</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/RingCRUD/AllRings" asp-page-handler="ByRType" asp-route-type="@Ring.RingTypes.DoubleRings">DoubleRings</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/RingCRUD/AllRings" asp-page-handler="ByRType" asp-route-type="@Ring.RingTypes.SilverRings">SilverRings</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-page="/Jewellery/HeadJewelleryCRUD/AllHeadJew" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Head Jewellery
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item">Types</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/HeadJewelleryCRUD/AllHeadJew" asp-page-handler="ByHType" asp-route-type="@HeadJewelry.HeadJewelryTypes.Bindi">Bindi</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/HeadJewelleryCRUD/AllHeadJew" asp-page-handler="ByHType" asp-route-type="@HeadJewelry.HeadJewelryTypes.MathaPatti">MathaPatti</a>
                                    <a class="dropdown-item" asp-page="/Jewellery/HeadJewelleryCRUD/AllHeadJew" asp-page-handler="ByHType" asp-route-type="@HeadJewelry.HeadJewelryTypes.Jhoomar">Jhoomar</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-page="/AboutUs">About Black Pearl</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            @* COL-6 WITH HAMBURGER NAV END *@
        </div>
    </div>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Black Pearl Webshop - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
