@page
@model BP_Webshop.Pages.Jewellery.EarringCrud.AllEarringsModel
@{
}

<h1 class="display-4 text-white">All earrings</h1>


<br />
<br />
@* ADMIN RUNDT OM *@
@if (User.IsInRole("admin"))
{
    <form>
        <p>
            <a asp-page="CreateEarring" class="btn btn-light">Create a new Earring</a>
        </p>
    </form>
}

<main>
    <div class="card-columns">
        @foreach (var earring in Model.earringList)
        {
            <div class="card">
                <div class="card-img">
                    <img src="~/images/@earring.ImageLink" class="img-fluid w-100" />
                </div>
                <div class="card-body">
                    <h6 class="card-title">
                        @earring.JewelryTitle
                    </h6>
                    <h6 class="card-Description">
                        @earring.Description
                    </h6>
                </div>
                <div class="d-flex flex-row-reverse">
                    <a class="btn" type="button" asp-page="/Jewellery/ProductDetail" asp-route-id="@earring.JewelryID">Details </a>
                    <a class="btn" asp-page="UpdateEaring" asp-route-id="@earring.JewelryID"><i class="fa fa-pencil"></i></a>
                    <a class="btn" asp-page="DeleteEarring" asp-route-id="@earring.JewelryID"><i class="fa fa-trash"></i></a>
                </div>
            </div>

        }
    </div>
</main>