@page
@model BP_Webshop.Pages.Jewellery.EarringCrud.AllEarringsModel
@{
}

<h2>All earrings</h2>

<br />
<br />
<form>
    <p>
        <a asp-page="CreateEarring" class="btn btn-light">Create a new Earring</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Color</th>
            <th>Price</th>
            <th>Average Rating</th>
            <th>Image Name</th>
            <th>Length</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.earringList != null)
        {
            @foreach (var earring in Model.earringList)
            {
                <tr>
                    <td>@earring.JewelryID</td>
                    <td>@earring.JewelryTitle</td>
                    <td>@earring.Description</td>
                    <td>@earring.Color</td>
                    <td>@earring.Price</td>
                    <td>@earring.AverageRating</td>
                    <td><img src="/Images/@earring.ImageLink" width="80" height="auto" /></td>
                    <td>@earring.EarringLength</td>
                    <td>
                        @*Call to action buttons*@
                        <a class="btn" asp-page="EditEarring" asp-route-id="@earring.JewelryID"><i class="fa fa-pencil"></i></a>
                        <a class="btn" asp-page="DeleteEarring" asp-route-id="@earring.JewelryID"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>