@page
@model BP_Webshop.Pages.Jewellery.EarringCrud.AllEarringsModel
@{
}

<h1 class="display-4 text-white">All earrings</h1>


<br />
<br />
@* ADMIN RUNDT OM *@
@if (User.IsInRole("admin"))
{
    <form>
        <p>
            <a asp-page="CreateEarring" class="btn btn-light">Create a new Earring</a>
        </p>
    </form>
}

<div class="container">
    <div class="row">
        @if (@Model.earringList != null)
        {
            @foreach (var bracelet in Model.earringList)
            {
                <div class="col-3">
                    <table class="table">
                        <tbody>
                            <tr>
                                @* SKAL ADMIN RUNDT OM *@

                                <p>@bracelet.JewelryID</p>

                                @* ADMIN SLUT *@
                                <a asp-area="" asp-page="/Jewellery/ProductDetails/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                                    <img src="/Images/@bracelet.ImageLink" type="button" class="btn btn-link" width="80" height="auto" />
                                </a>

                                <p>@bracelet.JewelryTitle</p>
                                <p>@bracelet.Description</p>
                                <p>@bracelet.Color</p>
                                <p>@bracelet.Price</p>
                                <p>@bracelet.AverageRating</p>
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p>@bracelet.EarringLength</p>


                                @* SKAL ADMIN RUNDT OM *@
                                @if (User.IsInRole("admin"))
                                {

                                    <td>
                                        @*Call to action buttons*@
                                        <a class="btn" asp-page="UpdateEaring" asp-route-id="@bracelet.JewelryID"><i class="fa fa-pencil"></i></a>
                                        <a class="btn" asp-page="DeleteEarring" asp-route-id="@bracelet.JewelryID"><i class="fa fa-trash"></i></a>
                                    </td>
                                    @* ADMIN SLUT *@
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        }

    </div>
</div>