@page
@model BP_Webshop.Pages.Jewellery.EarringCrud.CreateEarringModel
@{
}

<h3 class="text-white">Create a earring</h3>


<div class="row">
    <div class="col-2"></div>
    <div class="col-8 align-content-center bg-light">
        @* Post method *@
        <form method="post">
            <div class="form-group">
                <label class="control-lable">Title</label>
                <input asp-for="@Model.Earring.JewelryTitle" class="form-control" placeholder="Title" />
            </div>
            <div class="form-group">
                <label class="control-lable">Description</label>
                <input asp-for="@Model.Earring.Description" class="form-control" placeholder="Description" />
            </div>
            <div class="form-group">
                <label class="control-lable">Color</label>
                <input asp-for="@Model.Earring.Color" class="form-control" placeholder="Color" />
            </div>
            <div class="form-group">
                <label class="control-lable">Price</label>
                <input asp-for="@Model.Earring.Price" class="form-control" placeholder="Price" />
            </div>
            <div class="form-group">
                <label class="control-lable">Average rating</label>
                <input asp-for="@Model.Earring.AverageRating" class="form-control" placeholder="Average rating" />
            </div>
            <div class="form-group">
                <label class="control-lable">Image Name</label>
                <input asp-for="@Model.Earring.ImageLink" class="form-control" placeholder="Image name" />
            </div>
            <div class="form-group">
                <label class="control-lable">Length</label>
                <input asp-for="@Model.Earring.EarringLength" class="form-control" placeholder="Length (optional)" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
                <a asp-page="AllEarrings" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>
