@page
@model BP_Webshop.Pages.Jewellery.EarringCrud.UpdateEaringModel
@{
}

<h3 class="text-white">Edit the Earring</h3>
<br />
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 align-content-center bg-light">
        <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Earring.JewelryID" />
    <div class="form-group">
        <label asp-for="@Model.Earring.JewelryTitle" class="control-label"></label>
        <input asp-for="@Model.Earring.JewelryTitle" class="form-control" placeholder="Title"/>
        <span asp-validation-for="@Model.Earring.JewelryTitle"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Earring.Description" class="control-label"></label>
        <input asp-for="@Model.Earring.Description" class="form-control" placeholder="Description"/>
        <span asp-validation-for="@Model.Earring.Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Earring.Color" class="control-label"></label>
        <input asp-for="@Model.Earring.Color" class="form-control" placeholder="Color"/>
        <span asp-validation-for="@Model.Earring.Color"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Earring.Price" class="control-label"></label>
        <input asp-for="@Model.Earring.Price" class="form-control" placeholder="Price"/>
        <span asp-validation-for="@Model.Earring.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Earring.AverageRating" class="control-label"></label>
        <input asp-for="@Model.Earring.AverageRating" class="form-control" placeholder="Average rating"/>
        <span asp-validation-for="@Model.Earring.AverageRating"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Earring.ImageLink" class="control-label"></label>
        <input asp-for="@Model.Earring.ImageLink" class="form-control" placeholder="Image name"/>
        <span asp-validation-for="@Model.Earring.ImageLink"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Earring.EarringLength" class="control-label"></label>
        <input asp-for="@Model.Earring.EarringLength" class="form-control" placeholder="Length (optional)"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-page="AllEarrings" class="btn btn-danger">Cancel</a>
    </div>
</form>
    </div>
    <div class="col-2"></div>
</div>

