@page
@model BP_Webshop.Pages.Jewellery.EarringCrud.UpdateEaringModel
@{
}

<h3 class="text-white">Edit the Earring</h3>
<br />
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 align-content-center bg-light">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Earring.JewelryID" />
            <div class="form-group">
                <label asp-for="@Model.Earring.JewelryTitle" class="control-label"></label>
                <input asp-for="@Model.Earring.JewelryTitle" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Earring.Description" class="control-label"></label>
                <input asp-for="@Model.Earring.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Earring.Color" class="control-label"></label>
                <input asp-for="@Model.Earring.Color" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Earring.Price" class="control-label"></label>
                <input asp-for="@Model.Earring.Price" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Earring.AverageRating" class="control-label"></label>
                <input asp-for="@Model.Earring.AverageRating" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Earring.ImageLink" class="control-label"></label>
                <input asp-for="@Model.Earring.ImageLink" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Earring.EarringLength" class="control-label"></label>
                <input asp-for="@Model.Earring.EarringLength" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="AllEarrings" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>