@page
@model BP_Webshop.Pages.Account.CreateAdminModel
@{
}

<h3 class="text-white text-center">Create an account</h3>
<br />
<br />
<div class="row">
    <div class="col-sm">
        <p></p>
    </div>
    <div class="col-sm align-content-center bg-light">
        @* Post method *@
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-lable">First Name</label>
                <input asp-for="@Model.FirstName" class="form-control" placeholder="First name" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-lable">Last Name</label>
                <input asp-for="@Model.LastName" class="form-control" placeholder="Last name" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-lable">Email</label>
                <input type="email" asp-for="@Model.Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-lable">Create a password</label>
                <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password"/>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
                <a class="btn btn-primary bg-primary" asp-page="/Index">Back</a>
            </div>
        </form>
    </div>
    <div class="col-sm">
        <p></p>
    </div>
</div>

