@page
@using BP_Webshop.Models
@model BP_Webshop.Pages.CRUD.AllBraceletsModel
@{
}

<h1 class="display-4 text-white">All Bracelets</h1>



@* SKAL ADMIN RUNDT OM *@
@if (User.IsInRole("admin"))
{
<form>
    <p>
        <a asp-page="CreateBracelet" class="btn btn-light">Create a new Bracelet</a>
    </p>
</form>
}

@* ADMIN SLUT *@
    
<main>
    <div class="card-columns">
        @foreach (var bracelet in Model.bracelets)
        {
            <div class="card" >
                <div class="card-img" >
                    <img src="~/images/@bracelet.ImageLink" class="img-fluid w-100" />
                </div>
                <div class="card-body">
                    <h6 class="card-title">
                        @bracelet.JewelryTitle
                    </h6>
                    <h6 class="card-Description">
                        @bracelet.Description
                    </h6>
                    <p>@bracelet.Color</p>
                    <p>@bracelet.Price DKK</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                @if (User.IsInRole("admin"))
                {
                    <div class="d-flex flex-row-reverse">
                        <a class="btn" asp-page="EditBracelet" asp-route-id="@bracelet.JewelryID"><i class="fa fa-pencil"></i></a>
                        <a class="btn" asp-page="DeleteBracelet" asp-route-id="@bracelet.JewelryID"><i class="fa fa-trash"></i></a>
                    </div>
                }
                
                
                    <div class="">
                        <a class="btn" asp-page="/Jewellery/ProductDetail" asp-route-id="@bracelet.JewelryID">Details </a>
                        <a class="btn" asp-page="/Order/AddToCart" asp-route-id="@bracelet.JewelryID"><i class="fa fa-shopping-cart"></i></a>

                    </div>
                
                
            </div>

        }
    </div> 
</main>