@page "{id}"
@model BP_Webshop.Pages.CRUD.BraceletCRUD.EditBraceletModel
@{
    ViewData["Title"] = "EditBracelet";
}
<h1>Edit the Bracelet</h1>

<br />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Bracelet.JewelryID" />
    <div class="form-group">
        <label asp-for="@Model.Bracelet.JewelryTitle" class="control-label"></label>
        <input asp-for="@Model.Bracelet.JewelryTitle" class="form-control" />
        <span asp-validation-for="@Model.Bracelet.JewelryTitle" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Bracelet.Description" class="control-label"></label>
        <input asp-for="@Model.Bracelet.Description" class="form-control" />
        <span asp-validation-for="@Model.Bracelet.Description" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Bracelet.Color" class="control-label"></label>
        <input asp-for="@Model.Bracelet.Color" class="form-control" />
        <span asp-validation-for="@Model.Bracelet.Color" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Bracelet.Price" class="control-label"></label>
        <input asp-for="@Model.Bracelet.Price" class="form-control" />
        <span asp-validation-for="@Model.Bracelet.Price" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Bracelet.AverageRating" class="control-label"></label>
        <input asp-for="@Model.Bracelet.AverageRating" class="form-control" />
        <span asp-validation-for="@Model.Bracelet.AverageRating" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Bracelet.ImageLink" class="control-label"></label>
        <input asp-for="@Model.Bracelet.ImageLink" class="form-control" />
        <span asp-validation-for="@Model.Bracelet.ImageLink" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Bracelet.BraceletLength" class="control-label"></label>
        <input asp-for="@Model.Bracelet.BraceletLength" class="form-control" />
        <span asp-validation-for="@Model.Bracelet.BraceletLength" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Bracelet.BraceletWidth" class="control-label"></label>
        <input asp-for="@Model.Bracelet.BraceletWidth" class="form-control" />
        <span asp-validation-for="@Model.Bracelet.BraceletWidth" class="text-danger"></span>

    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-page="AllBraclets" class="btn btn-danger">Cancel</a>
    </div>
</form>