@page
@model BP_Webshop.Pages.Jewellery.HeadJewelleryCRUD.AllHeadJewModel
@{
}

<h1 class="display-4 text-white">All head jewelleries</h1>
<br />
<br />

@* ADMIN RUNDT OM *@

@if (User.IsInRole("admin"))
{
    <form>
        <p>
            <a asp-page="CreateHeadJew" class="btn btn-light">Create a new head jewellery</a>
        </p>
    </form>
}
<div class="container">
    <div class="row">

        @if (@Model.headJewList != null)
        {
            @foreach (var h in Model.headJewList)
            {
                <div class="col-3">
                    <table class="table">
                        <tbody>
                        <tr>
                            @* SKAL ADMIN RUNDT OM *@

                            <td>@h.JewelryID</td>

                            @* ADMIN SLUT *@
                            <a asp-area="" asp-page="/Jewellery/ProductDetails/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                                <img src="/Images/@h.ImageLink" type="button" class="btn btn-link" width="80" height="auto" />
                            </a>

                            <p>@h.JewelryTitle</p>
                            <p>@h.Description</p>
                            <p>@h.Color</p>
                            <p>@h.Price</p>
                            <p>@h.AverageRating</p>
                            @*<td><img src="/Images/@h.ImageLink" width="80" height="auto"/></td>*@
                            <p>@h.HeadJewelrySize</p>

                            @* SKAL ADMIN RUNDT OM *@
                            @if (User.IsInRole("admin"))
                            {

                                <td>
                                    @*Call to action buttons*@
                                    <a class="btn" asp-page="UpdateHeadJew" asp-route-id="@h.JewelryID"><i class="fa fa-pencil"></i></a>
                                    <a class="btn" asp-page="DeleteHeadJew" asp-route-id="@h.JewelryID"><i class="fa fa-trash"></i></a>
                                </td>
                                    @* ADMIN SLUT *@
                            }
                        </tr>
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
</div>
