@page
@model BP_Webshop.Pages.Jewellery.HeadJewelleryCRUD.AllHeadJewModel
@{
}

<h1 class="display-4 text-white">All head jewelleries</h1>
<br />
<br />

@* ADMIN RUNDT OM *@

@if (User.IsInRole("admin"))
{
    <form>
        <p>
            <a asp-page="CreateHeadJew" class="btn btn-light">Create a new head jewellery</a>
        </p>
    </form>
}

<main>
    <div class="card-columns">
        @foreach (var headJ in Model.headJewList)
        {
            <div class="card">
                <div class="card-img">
                    <img src="~/images/@headJ.ImageLink" class="img-fluid w-100" />
                </div>
                <div class="card-body">
                    <h6 class="card-title">
                        @headJ.JewelryTitle
                    </h6>
                    <h6 class="card-Description">
                        @headJ.Description
                    </h6>
                    <p>@headJ.Color</p>
                    <p>@headJ.Price DKK</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>

                </div>
                @if (User.IsInRole("admin"))
                {
                    <div class="d-flex flex-row-reverse">
                        <a class="btn" asp-page="UpdateHeadJew" asp-route-id="@headJ.JewelryID"><i class="fa fa-pencil"></i></a>
                        <a class="btn" asp-page="DeleteHeadJew" asp-route-id="@headJ.JewelryID"><i class="fa fa-trash"></i></a>
                    </div>
                }
                
                
                <div class="">
                    <a class="btn" asp-page="/Jewellery/ProductDetail" asp-route-id="@headJ.JewelryID">Details </a>
                    <a class="btn" asp-page="/Order/AddToCart" asp-route-id="@headJ.JewelryID"><i class="fa fa-shopping-cart"></i></a>

                </div>
            </div>

        }
    </div>
</main>
