@page
@model BP_Webshop.Pages.Jewellery.HeadJewelleryCRUD.CreateHeadJewModel
@{
}


<h2>Create a Head Jewellery</h2>

<div class="row">

    <div class="col-4"></div>

    <div class="col-4 align-content-center">

        @* Post method *@
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-lable">Title</label>
                <input asp-for="@Model.HeadJew.JewelryTitle" class="form-control" placeholder="Title"/>
                <span asp-validation-for="@Model.HeadJew.JewelryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-lable">Description</label>
                <input asp-for="@Model.HeadJew.Description" class="form-control" placeholder="Description"/>
                <span asp-validation-for="@Model.HeadJew.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-lable">Color</label>
                <input asp-for="@Model.HeadJew.Color" class="form-control" placeholder="color"/>
                <span asp-validation-for="@Model.HeadJew.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-lable">Price</label>
                <input asp-for="@Model.HeadJew.Price" class="form-control" placeholder="Price"/>
                <span asp-validation-for="@Model.HeadJew.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.HeadJew.ImageLink" class="control-label">Image name</label>
                <input asp-for="@Model.HeadJew.ImageLink" class="form-control" placeholder="Image name"/>
                <span asp-validation-for="@Model.HeadJew.ImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-lable">Size</label>
                <input asp-for="@Model.HeadJew.HeadJewelrySize" class="form-control" placeholder="Size (optional)"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Opret" class="btn btn-dark"/>

            </div>
        </form>
        
        <div class="col-4"></div>

    </div>
</div>