@page
@model BP_Webshop.Pages.Jewellery.NecklaceCRUD.AllNecklacesModel
@{
}
<h1 class="display-4 text-white">All Necklaces</h1>

<br />
@if (User.IsInRole("admin"))
{
    <form>
        <p>
            <a asp-page="CreateNecklace" class="btn btn-light">Create Necklace</a>
        </p>
    </form>
}

<main>
    <div class="card-columns">
        @foreach (var neck in Model.necklaces)
        {
            <div class="card">
                <div class="card-img">
                    <img src="~/images/@neck.ImageLink" class="img-fluid w-100" />
                </div>
                <div class="card-body">
                    <h6 class="card-title">
                        @neck.JewelryTitle
                    </h6>
                    <h6 class="card-Description">
                        @neck.Description
                    </h6>
                    <p>@neck.Color</p>
                    <p>@neck.Price DKK</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                @if (User.IsInRole("admin"))
                {
                    <div class="d-flex flex-row-reverse">
                        <a class="btn" asp-page="EditNecklace" asp-route-id="@neck.JewelryID"><i class="fa fa-pencil"></i></a>
                        <a class="btn" asp-page="DeleteNecklace" asp-route-id="@neck.JewelryID"><i class="fa fa-trash"></i></a>
                    </div>
                }
                
                
                <div class="">
                    <a class="btn" asp-page="/Jewellery/ProductDetail" asp-route-id="@neck.JewelryID">Details </a>
                    <a class="btn" asp-page="/Order/AddToCart" asp-route-id="@neck.JewelryID"><i class="fa fa-shopping-cart"></i></a>

                </div>
            </div>

        }
    </div>
</main>


