@page
@model BP_Webshop.Pages.Jewellery.NecklaceCRUD.CreateNecklaceModel
@{
    ViewData["Title"] = "CreateBracelet";

}


<h3 class=" text-white">Create a Necklace</h3>
<br/>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 align-content-center bg-light">
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.JewelryTitle" class="control-label">Title</label>
        <input asp-for="@Model.Necklace.JewelryTitle" class="form-control" placeholder="Title" />
        <span asp-validation-for="@Model.Necklace.JewelryTitle" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.Description" class="control-label">Description</label>
        <input asp-for="@Model.Necklace.Description" class="form-control" placeholder="Description" />
        <span asp-validation-for="@Model.Necklace.Description" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.Color" class="control-label">Color</label>
        <input asp-for="@Model.Necklace.Color" class="form-control" placeholder="Color" />
        <span asp-validation-for="@Model.Necklace.Color" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.Price" class="control-label">Price</label>
        <input asp-for="@Model.Necklace.Price" class="form-control" placeholder="Price" />
        <span asp-validation-for="@Model.Necklace.Price" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.AverageRating" class="control-label">Average Rating</label>
        <input asp-for="@Model.Necklace.AverageRating" class="form-control" placeholder="average rating" />
        <span asp-validation-for="@Model.Necklace.AverageRating" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.ImageLink" class="control-label">Image Name</label>
        <input asp-for="@Model.Necklace.ImageLink" class="form-control" placeholder="Image name" />
        <span asp-validation-for="@Model.Necklace.ImageLink" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.NecklaceLength" class="control-label">Length</label>
        <input asp-for="@Model.Necklace.NecklaceLength" class="form-control" placeholder="Length (optional)"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.NecklaceWidth" class="control-label">Width</label>
        <input asp-for="@Model.Necklace.NecklaceWidth" class="form-control" placeholder="Width (optional)"/>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-page="AllNecklaces" class="btn btn-danger">Cancel</a>
    </div>
</form>
</div>
<div class="col-2"></div>
</div>