@page
@model BP_Webshop.Pages.Jewellery.NecklaceCRUD.EditNecklaceModel
@{
    ViewData["Title"] = "EditNecklace";
}

<h3 class="text-white">Edit Necklace</h3>
<br />
<div class="row">
<div class="col-2"></div>
<div class="col-8 align-content-center bg-light">

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Necklace.JewelryID" />
    <div class="form-group">
        <label asp-for="@Model.Necklace.JewelryTitle" class="control-label"></label>
        <input asp-for="@Model.Necklace.JewelryTitle" class="form-control" placeholder="Title"/>
        <span asp-validation-for="@Model.Necklace.JewelryTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.Description" class="control-label"></label>
        <input asp-for="@Model.Necklace.Description" class="form-control" placeholder="Description"/>
        <span asp-validation-for="@Model.Necklace.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.Color" class="control-label"></label>
        <input asp-for="@Model.Necklace.Color" class="form-control" placeholder="Color"/>
        <span asp-validation-for="@Model.Necklace.Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.Price" class="control-label"></label>
        <input asp-for="@Model.Necklace.Price" class="form-control" placeholder="Price"/>
        <span asp-validation-for="@Model.Necklace.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.AverageRating" class="control-label"></label>
        <input asp-for="@Model.Necklace.AverageRating" class="form-control" placeholder="Average rating"/>
        <span asp-validation-for="@Model.Necklace.AverageRating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.ImageLink" class="control-label">Image Name</label>
        <input type="image" asp-for="@Model.Necklace.ImageLink" class="form-control" placeholder="Image name"/>
        <span asp-validation-for="@Model.Necklace.ImageLink" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.NecklaceLength" class="control-label">Length</label>
        <input asp-for="@Model.Necklace.NecklaceLength" class="form-control" placeholder="Length (optional)"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Necklace.NecklaceWidth" class="control-label">Width</label>
        <input asp-for="@Model.Necklace.NecklaceWidth" class="form-control" placeholder="Width (optional)"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-page="AllNecklaces" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
<div class="col-2"></div>
</div>
