@page
@model BP_Webshop.Pages.Jewellery.RingCRUD.AllRingsModel
@{
}
<h1 class="display-4 text-white">All rings</h1>

<br/>

@* SKAL ADMIN RUNDT OM *@
@if (User.IsInRole("admin"))
{
    <form>
        <p>
            <a asp-page="CreateRing" class="btn btn-light">Create a ring</a>
        </p>
    </form>
}

<div class="container">
    <div class="row">
        @if (@Model.rings != null)
        {
            @foreach (var r in Model.rings)
            {
                <div class="col-3">
                    <table class="table">
                        <tbody>
                            <tr>
                                @* SKAL ADMIN RUNDT OM *@

                                <td>@r.JewelryID</td>

                                @* ADMIN SLUT *@
                                <a asp-area="" asp-page="/Jewellery/ProductDetails/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                                    <img src="/Images/@r.ImageLink" type="button" class="btn btn-link" width="80" height="auto" />
                                </a>

                                <p>@r.JewelryTitle</p>
                                <p>@r.Description</p>
                                <p>@r.Color</p>
                                <p>@r.Price</p>
                                <p>@r.AverageRating</p>
                                <p>@r.RingSize</p>
                                <p>@r.RingWidth</p>


                                @* SKAL ADMIN RUNDT OM *@
                                @if (User.IsInRole("admin"))
                                {

                                    <td>
                                        @*Call to action buttons*@
                                        <a class="btn" asp-page="EditRing" asp-route-id="@r.JewelryID"><i class="fa fa-pencil"></i></a>
                                        <a class="btn" asp-page="DeleteRing" asp-route-id="@r.JewelryID"><i class="fa fa-trash"></i></a>
                                    </td>
                                    @* ADMIN SLUT *@
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        }

    </div>
</div>