@page
@model BP_Webshop.Pages.Jewellery.RingCRUD.AllRingsModel
@{
}
<h1 class="display-4 text-white">All rings</h1>

<br/>

@* SKAL ADMIN RUNDT OM *@
@if (User.IsInRole("admin"))
{
    <form>
        <p>
            <a asp-page="CreateRing" class="btn btn-light">Create a ring</a>
        </p>
    </form>
}

<main>
    <div class="card-columns">
        @foreach (var ring in Model.rings)
        {
            <div class="card">
                <div class="card-img">
                    <img src="~/images/@ring.ImageLink" class="img-fluid w-100" />
                </div>
                <div class="card-body">
                    <h6 class="card-title">
                        @ring.JewelryTitle
                    </h6>
                    <h6 class="card-Description">
                        @ring.Description
                    </h6>
                </div>
                <div class="d-flex flex-row-reverse">
                    <a class="btn" asp-page="/Jewellery/ProductDetail" asp-route-id="@ring.JewelryID">Detail</a>
                    <a class="btn" asp-page="EditRing" asp-route-id="@ring.JewelryID"><i class="fa fa-pencil"></i></a>
                    <a class="btn" asp-page="DeleteRing" asp-route-id="@ring.JewelryID"><i class="fa fa-trash"></i></a>
                </div>
            </div>

        }
    </div>
</main>

