@page
@model BP_Webshop.Pages.Jewellery.RingCRUD.EditRingModel
@{
    ViewData["Title"] = "EditRing";
}

<h3 class="text-white">Edit the Ring</h3>
<br />
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 align-content-center bg-light">
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Ring.JewelryID" />
    <div class="form-group">
        <label asp-for="@Model.Ring.JewelryTitle" class="control-label"></label>
        <input asp-for="@Model.Ring.JewelryTitle" class="form-control" placeholder="Title"/>
        <span asp-validation-for="@Model.Ring.JewelryTitle" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Ring.Description" class="control-label"></label>
        <input asp-for="@Model.Ring.Description" class="form-control" placeholder="Description"/>
        <span asp-validation-for="@Model.Ring.Description" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Ring.Color" class="control-label"></label>
        <input asp-for="@Model.Ring.Color" class="form-control" placeholder="Color"/>
        <span asp-validation-for="@Model.Ring.Color" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Ring.Price" class="control-label"></label>
        <input asp-for="@Model.Ring.Price" class="form-control" placeholder="Price"/>
        <span asp-validation-for="@Model.Ring.Price" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Ring.AverageRating" class="control-label"></label>
        <input asp-for="@Model.Ring.AverageRating" class="form-control" placeholder="Average rating"/>
        <span asp-validation-for="@Model.Ring.AverageRating" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Ring.ImageLink" class="control-label"></label>
        <input asp-for="@Model.Ring.ImageLink" class="form-control" placeholder="Image name"/>
        <span asp-validation-for="@Model.Ring.ImageLink" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Ring.RingSize" class="control-label">Size</label>
        <input asp-for="@Model.Ring.RingSize" class="form-control" placeholder="Size"/>
        <span asp-validation-for="@Model.Ring.RingSize" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Ring.RingWidth" class="control-label"></label>
        <input asp-for="@Model.Ring.RingWidth" class="form-control" placeholder="With (optional)"/>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-page="AllRings" class="btn btn-danger">Cancel</a>
    </div>
</form>
</div>
<div class="col-2"></div>
</div>