@page
@using BP_Webshop.Models
@model BP_Webshop.Pages.Jewellery.ProductDetailModel
@{
}

<div class="row">
    <div class="column left" style="background-color:whitesmoke;" style="color: silver">

        @foreach (var jewelry in Model.jewelries)
        {
            if (jewelry.ImageLink == Model.Jewelry.ImageLink)
            {
                <div>
                    <img src="~/images/@jewelry.ImageLink" class="img-fluid w-100" />
                </div>
            }
        }

    </div>
    <div class="column right" style="background-color:whitesmoke;" style="color: silver">
        @foreach (var jewelry in Model.jewelries)
        {
            if (jewelry.JewelryID == Model.Jewelry.JewelryID)
            {
                <h2>@jewelry.JewelryTitle</h2>

               
                <h5>Details: @jewelry.Description</h5>

                
                
                <h5>Color: @jewelry.Color</h5>
               
                
                <div>

                    <h4>@jewelry.Price DKK</h4>
                </div>

                <div>
                    <p>Add to cart</p>
                    <a class="btn" asp-page="/Order/AddToCart" asp-route-id="@jewelry.JewelryID" style="background-color: #007bff"><i class="fa fa-shopping-cart"></i></a>
                </div>

                <h5>AverageRating</h5>
                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>


            }
        }
    </div>
</div>